Node-Red flow.json
[{"id":"19bd257f.985c5b","type":"watson-conversation-v1","z":"39526cdb.071294","name":"Assistance","workspaceid":"fcf06b76-e225-429e-ba8b-94e17243f729","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/de08cf51-2ee5-4f8d-832d-ebe9b9e48a49","timeout":"","optout-learning":false,"x":530,"y":220,"wires":[["baaae4e6.33ccc8","f043723d.f4b4"]]},{"id":"9c5ee4f4.3f0218","type":"function","z":"39526cdb.071294","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["19bd257f.985c5b","ec5d0be7.1383b8"]]},{"id":"49486907.afa388","type":"ui_form","z":"39526cdb.071294","name":"","label":"","group":"38a87f5c.fac84","order":0,"width":0,"height":0,"options":[{"label":"Enter Your Query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":400,"wires":[["9c5ee4f4.3f0218"]]},{"id":"ec5d0be7.1383b8","type":"ui_text","z":"39526cdb.071294","group":"38a87f5c.fac84","order":0,"width":"6","height":"4","name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":430,"y":500,"wires":[]},{"id":"20cc7e06.b7fba2","type":"ui_text","z":"39526cdb.071294","group":"5d6908b1.5f4bf8","order":1,"width":"16","height":"9","name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-left","x":750,"y":480,"wires":[]},{"id":"f043723d.f4b4","type":"function","z":"39526cdb.071294","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;        \n    }\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["20cc7e06.b7fba2"]]},{"id":"baaae4e6.33ccc8","type":"debug","z":"39526cdb.071294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":180,"wires":[]},{"id":"38a87f5c.fac84","type":"ui_group","z":"","name":"chatBot","tab":"fbd1874.d84a778","order":3,"disp":true,"width":"6","collapse":false},{"id":"5d6908b1.5f4bf8","type":"ui_group","z":"","name":"Chat","tab":"fbd1874.d84a778","order":1,"disp":true,"width":"17","collapse":false},{"id":"fbd1874.d84a778","type":"ui_tab","z":"","name":"Customer Care HelpDesk","icon":"dashboard","order":1,"disabled":false,"hidden":false}]